# ignore the python class files (.pyc)
__pycache__/
test/__pycache__/


# ignore the log file
logs/


# ignore the testing input directory
InputDir/


# ignore the config file (production config and testing config different)
tradefile_11490.config

