# The configuration file for clamc_datafeed
#

[directory]
output=P:\Reconciliation\CL trustee trade files



[email]

# the mail server address
server=192.168.16.185

# the mail sender
sender=itsupport@clamc.com.hk

# the mail recipients
recipents=itadmin@clamc.com.hk, settlement@clamc.com.hk

# smtp timeout in seconds
timeout=30